App_WebReferences/ws_acceso/AccesoBSGService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bsg.gob.ec/AccesoBSGService" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AccesoBSGService" targetNamespace="http://bsg.gob.ec/AccesoBSGService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://bsg.gob.ec/AccesoBSGService" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ValidarPermiso" type="tns:ValidarPermiso" />
      <xs:element name="ValidarPermisoResponse" type="tns:ValidarPermisoResponse" />
      <xs:complexType name="ValidarPermiso">
        <xs:sequence>
          <xs:element minOccurs="0" name="ValidarPermisoPeticion" type="tns:validarPermisoPeticion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validarPermisoPeticion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cedula" type="xs:string" />
          <xs:element minOccurs="0" name="Urlsw" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ValidarPermisoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:validarPermisoRespuesta" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validarPermisoRespuesta">
        <xs:sequence>
          <xs:element minOccurs="0" name="Digest" type="xs:string" />
          <xs:element minOccurs="0" name="Fecha" type="xs:string" />
          <xs:element minOccurs="0" name="FechaF" type="xs:string" />
          <xs:element minOccurs="0" name="Mensaje" type="tns:mensajeError" />
          <xs:element minOccurs="0" name="Nonce" type="xs:string" />
          <xs:element minOccurs="0" name="TienePermiso" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mensajeError">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodError" type="xs:string" />
          <xs:element minOccurs="0" name="DesError" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ValidarPermisoResponse">
    <wsdl:part name="parameters" element="tns:ValidarPermisoResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarPermiso">
    <wsdl:part name="parameters" element="tns:ValidarPermiso" />
  </wsdl:message>
  <wsdl:portType name="BSG04_Acceder_BSG">
    <wsdl:operation name="ValidarPermiso">
      <wsdl:input name="ValidarPermiso" message="tns:ValidarPermiso" />
      <wsdl:output name="ValidarPermisoResponse" message="tns:ValidarPermisoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccesoBSGServiceSoapBinding" type="tns:BSG04_Acceder_BSG">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarPermiso">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ValidarPermiso">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ValidarPermisoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccesoBSGService">
    <wsdl:port name="BSG04_Acceder_BSGPort" binding="tns:AccesoBSGServiceSoapBinding">
      <soap:address location="https://www.bsg.gob.ec/sw/STI/BSGSW08_Acceder_BSG" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>